.App {
    background-color: #181818;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* @media only screen and (max-width: 420px) {
    .App {
        overflow: hidden;
    }
} */
